<div class="container">
	<h1>Blog Demo in Rails</h1>
	<p>Find me in app/views/pages/about.html.erb</p>

	<%= link_to "Home Page", root_path,class: "btn btn-secondary" %>

	<%= link_to "Blogs",posts_path, class: "btn btn-primary" %>
</div>